@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode için özel stiller */
:root {
  --color-primary: theme("colors.primary");
  --color-secondary: theme("colors.secondary");
  --color-accent: theme("colors.accent");
  --color-background: theme("colors.background");
  --color-text: theme("colors.text");
}

/* Dark mode için özel stiller */
.dark {
  --color-primary: theme("colors.primary-dark");
  --color-secondary: theme("colors.secondary-dark");
  --color-accent: theme("colors.accent-dark");
  --color-background: theme("colors.background-dark");
  --color-text: theme("colors.text-dark");
}
